# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Python Installer
*.pyc
*.pyo

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot

# Debug
*.stackdump

# Pythonanywhere
.pythonanywhere

# MyPy
.mypy_cache/
.dmypy.json

# Pyre
.pyre/

# Celery
celerybeat-schedule

# Mac
.DS_Store
